[2019-06-14 12:38] prokopsimek opened #84 "test"

[2019-06-14 12:38] #84 closed

[2019-06-14 13:12] prokopsimek opened #85 "Continuous Delivery"

[2019-06-14 13:43] prokopsimek opened #86 "Article: Demand Management"

[2019-06-14 13:44] prokopsimek opened #87 "Article: Conservation"

[2019-06-14 13:44] prokopsimek opened #88 "Article: Grooming"

[2019-06-14 13:44] prokopsimek opened #89 "Article: Expensive development"

[2019-06-14 14:12] prokopsimek opened #90 "Article: .gitignore"

[2019-06-14 14:12] prokopsimek opened #91 "Article: Absolute ownership"

[2019-06-14 14:13] prokopsimek opened #92 "Article: Acceptance Criteria validation"

[2019-06-14 14:13] prokopsimek opened #93 "Article: Agile mentor"

[2019-06-14 14:13] prokopsimek opened #94 "Article: Alert threshold"

[2019-06-14 14:13] prokopsimek opened #95 "Article: API Documentation"

[2019-06-14 14:13] prokopsimek opened #96 "Article: Automated backups"

[2019-06-14 14:13] prokopsimek opened #97 "Article: Branch naming rules"

[2019-06-14 14:13] prokopsimek opened #98 "Article: Business model canvas"

[2019-06-14 14:13] prokopsimek opened #99 "Article: Cleanup"

[2019-06-14 14:13] prokopsimek opened #100 "Article: Coaching"

[2019-06-14 14:13] prokopsimek opened #101 "Article: Collective ownership"

[2019-06-14 14:13] prokopsimek opened #102 "Article: Commit naming rules"

[2019-06-14 14:13] prokopsimek opened #103 "Article: Effective Team Communication"

[2019-06-14 14:13] prokopsimek opened #104 "Article: Cooperation"

[2019-06-14 14:13] prokopsimek opened #105 "Article: Creator"

[2019-06-14 14:13] prokopsimek opened #106 "Article: Debriefing"

[2019-06-14 14:13] prokopsimek opened #107 "Article: Deprecation notice"

[2019-06-14 14:13] prokopsimek opened #108 "Article: Design thinking"

[2019-06-14 14:13] prokopsimek opened #109 "Article: Dev server"

[2019-06-14 14:13] prokopsimek opened #110 "Article: Developers vs. Opearations wars"

[2019-06-14 14:13] prokopsimek opened #111 "Article: Documentation"

[2019-06-14 14:13] prokopsimek opened #112 "Article: Epic"

[2019-06-14 14:13] prokopsimek opened #113 "Article: Extremely programming (XP)"

[2019-06-14 14:13] prokopsimek opened #114 "Article: Gap analysis"

[2019-06-14 14:13] prokopsimek opened #115 "Article: Getting started in readme"

[2019-06-14 14:13] prokopsimek opened #116 "Article: Goals (SMART), eventually mission and vision"

[2019-06-14 14:13] prokopsimek opened #117 "Article: Hacked Application"

[2019-06-14 14:13] prokopsimek opened #118 "Article: Handover"

[2019-06-14 14:13] prokopsimek opened #119 "Article: Icebreaker"

[2019-06-14 14:13] prokopsimek opened #120 "Article: Integration testing"

[2019-06-14 14:13] prokopsimek opened #121 "Article: Issue tracking"

[2019-06-14 14:13] prokopsimek opened #122 "Article: Leak of secure data"

[2019-06-14 14:13] prokopsimek opened #123 "Article: Learning cards"

[2019-06-14 14:13] prokopsimek opened #124 "Article: Linting"

[2019-06-14 14:13] prokopsimek opened #125 "Article: Logging"

[2019-06-14 14:13] prokopsimek opened #126 "Article: Login displays "wrong username" and "wrong password" error messages separately"

[2019-06-14 14:13] prokopsimek opened #127 "Article: Long incident resolution time"

[2019-06-14 14:13] prokopsimek opened #128 "Article: Long feedback loops"

[2019-06-14 14:13] prokopsimek opened #129 "Article: Long team onboarding"

[2019-06-14 14:13] prokopsimek opened #130 "Article: Low bus factor"

[2019-06-14 14:13] prokopsimek opened #131 "Article: Meaningful meetings"

[2019-06-14 14:13] prokopsimek opened #132 "Article: Never ending meetings"

[2019-06-14 14:13] prokopsimek opened #133 "Article: No Lockfile"

[2019-06-14 14:13] prokopsimek opened #134 "Article: No major version locking"

[2019-06-14 14:13] prokopsimek opened #135 "Article: No runtime version management"

[2019-06-14 14:13] prokopsimek opened #136 "Article: Overwhelmed operations"

[2019-06-14 14:13] prokopsimek opened #137 "Article: Package management"

[2019-06-14 14:13] prokopsimek opened #138 "Article: Pact testing"

[2019-06-14 14:13] prokopsimek opened #139 "Article: Penetration test"

[2019-06-14 14:13] prokopsimek opened #140 "Article: Persona proposition"

[2019-06-14 14:13] prokopsimek opened #141 "Article: Portability"

[2019-06-14 14:13] prokopsimek opened #142 "Article: Product concept validation"

[2019-06-14 14:13] prokopsimek opened #143 "Article: Release Management"

[2019-06-14 14:13] prokopsimek opened #144 "Article: Release train"

[2019-06-14 14:13] prokopsimek opened #145 "Article: Responsibility"

[2019-06-14 14:13] prokopsimek opened #146 "Article: Risk analysis"

[2019-06-14 14:13] prokopsimek opened #147 "Article: Standby mode"

[2019-06-14 14:13] prokopsimek opened #148 "Article: Story points"

[2019-06-14 14:13] prokopsimek opened #149 "Article: Sunk Cost"

[2019-06-14 14:13] prokopsimek opened #150 "Article: Team Culture"

[2019-06-14 14:13] prokopsimek opened #151 "Article: Team lead"

[2019-06-14 14:14] prokopsimek opened #152 "Article: Team reset"

[2019-06-14 14:14] prokopsimek opened #153 "Article: Templates"

[2019-06-14 14:14] prokopsimek opened #154 "Article: Test cards"

[2019-06-14 14:14] prokopsimek opened #155 "Article: Unhappy clients"

[2019-06-14 14:14] prokopsimek opened #156 "Article: Unnecessary functions"

[2019-06-14 14:14] prokopsimek opened #157 "Article: Unsuccessful product"

[2019-06-14 14:14] prokopsimek opened #158 "Article: User journey"

[2019-06-14 14:14] prokopsimek opened #159 "Article: UX testing"

[2019-06-14 14:14] prokopsimek opened #160 "Article: Validation with SLRC stack"

[2019-06-14 14:14] prokopsimek opened #161 "Article: Validator"

[2019-06-14 14:14] prokopsimek opened #162 "Article: Versioning via tags"

[2019-06-14 14:14] prokopsimek opened #163 "Article: Docker Compose"

[2019-06-14 14:14] prokopsimek opened #164 "Article: Docker Swarm"

[2019-06-14 14:14] prokopsimek opened #165 "Article: Rewrite"

[2019-06-14 14:14] prokopsimek opened #166 "Article: Mutilple environments"

[2019-06-14 14:14] prokopsimek opened #167 "Article: Bad architecture from the start"

[2019-06-14 14:14] prokopsimek opened #168 "Article: Overgrowing of the architecture"

[2019-06-14 14:14] prokopsimek opened #169 "Article: Lack of Purpose"

[2019-06-14 14:14] prokopsimek opened #170 "Article: Finger pointing & blaming"

[2019-06-14 14:14] prokopsimek opened #171 "Article: Automation of repetitive tasks"

[2019-06-14 14:14] prokopsimek opened #172 "Article: "We against them" mentality"

[2019-06-14 14:14] prokopsimek opened #173 "Article: Not Invented Here Syndrome"

[2019-07-16 15:01] #133 closed

[2019-07-16 15:14] #132 closed

[2019-07-16 15:14] prokopsimek commented on #132
duplicity #131

[2019-07-19 16:56] SpiReCZ opened #180 "Introduce clean files policy before deployment"
I noticed that there are some old files on the page: https://preview.developerexperience.io
but not on: https://developerexperience.io

---

Possibly on deployment the existing files are rewritten by the new ones.

The problem is that the old files that are not in git anymore stay at it's place and are not cleaned up properly.

Examples from https://preview.developerexperience.io :

/practices/con

[2019-07-22 13:57] Kristynaslomkova commented on #124
New article. Pull Request: https://github.com/DXHeroes/knowledge-base/pull/181

[2019-07-23 07:07] prokopsimek opened #182 "Fix wrong configuration of ENV variables for Danger.system in the CI pipeline"
See https://travis-ci.org/DXHeroes/knowledge-base/builds/561103485 - it failed because of missing ENV variable for Danger.systems because the PR comes from remote repository.

[2019-07-23 07:19] prokopsimek commented on #180
@SpiReCZ Thanks for the catch! The behavior is different in production (developerexperience.io) and preview (preview.developerexperience.io) environment.
Articles in Pull Requests or in `dev` branch are deployed to preview environment. To production are deployed articles in `master` branch only.
It's for PR review purposes - you can check the article from Pull Request in "preview" environment befo

[2019-07-23 19:29] Kristynaslomkova commented on #124
New article, PR: https://github.com/DXHeroes/knowledge-base/pull/183

[2019-07-24 07:17] prokopsimek opened #184 "Article: Git"
Proposal to add a new article about Git.

Including sources "Understanding Git":
* [Understanding Git — Data Model](https://hackernoon.com/https-medium-com-zspajich-understanding-git-data-model-95eb16cc99f5)
* [Understanding Git — Branching](https://hackernoon.com/understanding-git-branching-2662f5882f9)
* [Understanding Git — Index](https://hackernoon.com/understanding-git-index-4821a0765cf)

[2019-07-24 15:14] Kristynaslomkova commented on #137
New article. PR: https://github.com/DXHeroes/knowledge-base/pull/185

[2019-09-02 16:35] Kristynaslomkova opened #190 "Article: Good Developer Experience"
New PR: https://github.com/DXHeroes/knowledge-base-content/pull/189/

[2019-09-21 09:47] Kristynaslomkova commented on #128
New PR: https://github.com/DXHeroes/knowledge-base-content/pull/203/

[2019-09-21 09:49] Kristynaslomkova commented on #85
New PR: https://github.com/DXHeroes/knowledge-base-content/pull/202

[2019-09-23 13:06] #128 closed

[2019-09-23 13:06] prokopsimek commented on #128
Meged #203

[2019-10-01 10:03] #190 closed

[2019-10-01 10:03] #182 closed

[2019-11-22 12:02] #180 closed

[2019-12-18 08:48] #151 closed

[2019-12-18 08:48] #137 closed

[2019-12-18 08:49] #124 closed

[2020-09-17 11:04] #131 closed

[2020-09-17 11:07] ridlees commented on #116
Add a link to developerexperience.io/practices/meaningful-meetings

[2020-09-17 13:29] ridlees commented on #172
What is this about: The human psyche has the tendency to split people into us (friends) and them (enemies). Unfortunately, this natural instinct can hurt team cooperation.

Read more here: https://www.theemotionmachine.com/the-us-vs-them-mentality-how-group-thinking-can-irrationally-divide-us/

[2020-09-17 15:09] ridlees commented on #184
Just adding Contribution guide: https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBUTING.md

[2020-09-17 15:13] ridlees commented on #173
What is this about: Not invented here syndrome is a stance where the team rejects the existing solution purely because they have not created it. In the long run, this stance wastes team resources (time and energy).
Read more here: https://learnosity.com/not-invented-here-syndrome-explained/
Contribution guide: https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBUTING.md

[2020-09-17 15:16] ridlees commented on #171
What is this about: The purpose of automation is to delegate the repetitive, tedious tasks so your team can focus on things that require their attention. It saves time, money, and energy.
Read more here: https://hello.rindle.com/how-to-automate-repetitive-tasks-in-your-workflow/
Contribution guide: https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBUTING.md

[2020-09-17 15:19] ridlees commented on #170
What is this about: Finger-pointing and blaming are toxic aspects of work culture. A good team with good leadership avoids this unhealthly habit to ensure their productivity and happiness. Also, it is not part of good developer experience.
Read more here: https://www.workfront.com/blog/stop-the-finger-pointing-how-to-avoid-blame-culture-on-your-project-team
Contribution guide: https://github.com/D

[2020-09-17 15:24] ridlees commented on #169
What is this about: The lack of purpose is not a good feeling. It leads to demotivation, decreases the quality of your work, and can even harm your team. A good team knows their purpose, knows purpose of their work, and can remind themselves of their value.
Read more here: https://www.thoughtfulleader.com/why-team-purpose-matters/, https://hbr.org/2019/10/helping-your-team-feel-the-purpose-in-thei

[2020-09-17 15:37] ridlees commented on #166
What is this about: Using multiple environments is a good practice to ensure your software is heavily tested before it hits production. A common setup could have Development, Staging, and Production environments.
Read more here: https://deploybot.com/blog/using-multiple-environments-to-improve-your-development-workflow
Contribution guide: https://github.com/DXHeroes/knowledge-base-content/blob/mas

[2020-09-17 15:41] ridlees commented on #164
What is this about: The Docker swarm is a group of either virtual or physical machines that all are running Docker. Docker swarms are configured to join a **cluster** which works to maintain that desired state (number of allocated resources, exposed ports, and etc.)
Read more here: https://www.sumologic.com/glossary/docker-swarm/
Contribution guide: https://github.com/DXHeroes/knowledge-base-conte

[2020-09-17 15:43] ridlees commented on #163
What is this about: Compose is a tool for defining and running multi-container Docker applications. With Compose, you use a YAML file to configure your application's services.
Read more here: https://docs.docker.com/compose/
Contribution guide: https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBUTING.md

[2020-09-17 15:49] ridlees commented on #162
What is this about: Versioning via tags (also known as Semantic versioning) is a practice of straightforward version control. It generally uses three numbers, one for major patches, one for backward-compatible patches (minor), and one for bug fixes. v 1.0.2
Read more here: https://travishorn.com/semantic-versioning-with-git-tags-1ef2d4aeede6?gi=7461284c6748, https://egghead.io/lessons/tools-practi

[2020-09-17 15:54] ridlees commented on #161
What is this about: A validator is a computer program used to check the validity or syntactical correctness of code, text, value, or document fragments. A popular example is Validator.js (https://www.npmjs.com/package/validator) or WAVE (https://wave.webaim.org).
Read more here: https://en.wikipedia.org/wiki/Validator
Contribution guide: https://github.com/DXHeroes/knowledge-base-content/blob/mast

[2020-09-17 15:59] ridlees commented on #159
What is this about: is the process of collecting qualitative and quantitative data from the test user, whilst the user is subject to all aspects of a service or product. Ux in this case means “All aspects of the end-user interactions with the company, its services, and its products”.
Read more here: https://userpeek.com/blog/user-experience-testing/, https://www.hotjar.com/usability-testing/
Contr

[2020-09-17 16:01] ridlees commented on #158
What is this about: A user journey is a series of steps which represent a scenario in which a user might interact with the thing you are designing.
Read more here: https://uxplanet.org/a-beginners-guide-to-user-journey-mapping-bd914f4c517c?gi=6697ccc62796, https://uxplanet.org/a-beginners-guide-to-user-journey-mapping-bd914f4c517c, https://uxmentor.me/user-journeys-beginners-guide/
Contribution gu

[2020-09-17 16:07] ridlees commented on #157
What is this about: An unsuccessful product is not the end of the journey, it can rather be an important learning point.
Read more here: https://accountlearning.com/top-10-reasons-product-failure-measures-prevent-failure/, https://www.businessinsider.com/biggest-product-flops-in-history-2016-12, https://www.investopedia.com/financial-edge/0111/5-products-that-failed-and-why.aspx, https://community

[2020-09-17 16:19] ridlees commented on #156
What is this about: Unnecessary functions are your team problem. They waste resources, bloat your code, and can lead to unsuccessful products. They are mostly caused by bad product design.
Read more here: https://techbeacon.com/app-dev-testing/why-unnecessary-variables-are-bad-your-code, https://www.valueanalysis.ca/fast.php, https://www.bruschitech.com/blog/what-is-value-analysis-value-engineerin

[2020-09-17 16:21] ridlees commented on #155
What is this about: Unhappy clients are a sign of bad communication, bad information exchange, or delivering "bad" products. This unhappiness hurts your development in the long run cause it can lead to losing a client. Remember, you are never loosing just one client.
Read more here:https://www.creativeboom.com/tips/how-to-deal-with-an-unhappy-client/
Contribution guide: https://github.com/DXHeroes

[2020-09-17 16:27] ridlees commented on #153
What is this about : A template serves as a starting point for a new thing. It can help with automatizations, speed up the starting process, or allow your team to focus on more important matters.
Read more here: https://techterms.com/definition/template, https://victorops.com/on-call/create-runbook-template/, https://docs.devexpress.com/CodeRushForRoslyn/115904/coding-assistance/code-templates
Con

[2020-09-17 16:32] ridlees commented on #152
What is this about : Team reset is an Agile Ceremony that serves to set your team back. The Scrum master (or Project manager) uses Team reset to revisit the starting ground, to get team on the same page, or to thread signs of a toxic culture.
Read more here: https://www.lyssaadkins.com/new-blog/2011/10/31/ivi6vsxmj8l3gpp2w9xh1ly0rl5k1b-jnnmk-bypp2-5rp72-rhjjc, https://jumpstart.blog/2018/11/18/tea

[2020-09-17 16:37] ridlees commented on #150
What is this about : Team culture is made up of the values, beliefs, attitudes, and behaviors shared by a team. For some, team culture is what creates a team from people working together.
Read more here: https://tallyfy.com/build-great-team-culture/, https://www.teambuildersplus.com/defining-your-teams-culture/,
Contribution guide: https://github.com/DXHeroes/knowledge-base-content/blob/master/CON

[2020-09-17 16:39] ridlees commented on #149
What is this about : In economics and business decision-making, a sunk cost is a cost that has already been incurred and cannot be recovered. Sunk costs are contrasted with prospective costs, which are future costs that may be avoided if action is taken.
Read more here: https://en.wikipedia.org/wiki/Sunk_cost, https://www.britannica.com/topic/sunk-cost
Contribution guide: https://github.com/DXHero

[2020-09-17 21:02] ridlees commented on #148
Fixed by PR #245

[2020-09-18 08:36] prokopsimek commented on #148
/close

[2020-09-18 08:36] #148 closed

[2020-09-18 10:47] zeman-j4 commented on #116
What this is about: Often times can be set goals somewhat ambiguous. Following the SMART principles makes them clearer and reachable. The same goes for vision and mission, that have to be shared and understood by the whole team and company

You can start your research here: https://www.mindtools.com/pages/article/smart-goals.htm
https://www.mindtools.com/pages/article/newLDR_90.htm

Contribution g

[2020-09-18 11:02] zeman-j4 commented on #112
What this is about: Business requirements, turned into user stories, are often times bigger than what can fit scope of one sprint. These bigger, high level requirements, are called epics and aggregate multiple user stories.

You can start your research here: https://www.atlassian.com/agile/project-management/epics

Contribution guide: https://github.com/DXHeroes/knowledge-base-content/blob/master/

[2020-09-18 11:06] zeman-j4 commented on #113
What this is about: Extreme programming is agile method focused on extremely short delivery cycles and building features at the time when they are actually needed.

You can start your research here: https://www.agilealliance.org/glossary/xp/#q=~(infinite~false~filters~(postType~(~'post~'aa_book~'aa_event_session~'aa_experience_report~'aa_glossary~'aa_research_paper~'aa_video)~tags~(~'xp))~searchTe

[2020-09-18 11:12] zeman-j4 commented on #114
What this is about: Doing research on existing system or team (as-is) and where the system should be taken providing new functionality/setup (to-be) is referred to as gap analysis. For this can be used feature comparison, documentation, diagrams, project management tools and other.

You can start your research here: https://creately.com/blog/diagrams/gap-analysis-tools/
https://www.lucidchart.com/

[2020-09-18 11:23] zeman-j4 commented on #104
What this is about: Development teams work better when everyone is cooperative. This is achieved through e.g. mutual respect and understanding of each other and understanding the value of their work

You can start your research here: https://gtm-plus.com/effective-teams-how-to-organize-software-development-smart/

Contribution guide: https://github.com/DXHeroes/knowledge-base-content/blob/master/C

[2020-09-18 11:32] zeman-j4 commented on #106
What this is about: Every project ends and it's important to reflect on what went right and what went wrong. That's debriefing is for.

You can start your research here: https://www.open.edu/openlearn/money-business/business-strategy-studies/completing-the-project/content-section-2.3.1
https://hbr.org/tip/2015/10/the-4-questions-to-ask-when-you-debrief-on-a-project

Contribution guide: https://git

[2020-09-18 11:37] zeman-j4 commented on #107
What this is about: It is a common courtesy to let users know when one thing ends - product, version of API or library support. Provide deeper information on what it is and how to do it correctly.

You can start your research here: https://docs.gitlab.com/omnibus/package-information/deprecation_policy.html

Contribution guide: https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBU

[2020-09-18 11:40] zeman-j4 commented on #108
What this is about: Clenching to an idea is never a good thing to do. Ideas need to iterated, validated and sometimes even changed from the bottom up. Design thinking reveals the actual problems and help build better solutions for them.

You can start your research here: https://www.interaction-design.org/literature/article/what-is-design-thinking-and-why-is-it-so-popular

Contribution guide: http

[2020-09-18 12:08] zeman-j4 commented on #109
What this is about: Providing developers with a server where they can test their on-going builds is important. Provide your team with one to accelerate speed of development and ease of access for everyone on the team.

You can start your research here: https://deploybot.com/blog/using-multiple-environments-to-improve-your-development-workflow

Contribution guide: https://github.com/DXHeroes/knowle

[2020-09-18 12:11] zeman-j4 commented on #110
What this is about: Developers and operations should be both on the same team, yet there are often times clashes happening. Keeping both parties in sync is a necessity and thus removing any obstacles in communication and other areas is crucial.

You can start your research here: https://www.devopsdigest.com/dev-and-ops-collaborate-1

Contribution guide: https://github.com/DXHeroes/knowledge-base-c

[2020-09-18 12:16] zeman-j4 commented on #111
What this is about: Treat others as you wanna be treated - thus providing your colleagues, new developers or external developers with good documentation of how software works is very important. Documentation removes frustration from having to find out how something works and increases usability of your product for others.

You can start your research here: https://opensource.com/business/15/5/writ

[2020-09-18 12:26] zeman-j4 commented on #92
What this is about: Software always has to fulfill a purpose it is being built for. Having well defined acceptance criteria is essential for fulfilling such goal and gives developers ease of mind.

You can start your research here: https://www.altexsoft.com/blog/business/acceptance-criteria-purposes-formats-and-best-practices/

Contribution guide: https://github.com/DXHeroes/knowledge-base-content

[2020-09-18 12:32] zeman-j4 commented on #93
What this is about: Developing team members is important if you want to keep them around and happy. Having an Agile mentor in a company, a dedicated person who focuses on developing skills of developers outside of their project is a common practice. Agile mentor can improve the quality of environment a help developers when feeling stuck or unhappy.

You can start your research here: https://www.pm

[2020-09-18 12:37] zeman-j4 commented on #95
What this is about: Treat others as you wanna be treated - thus providing external developers with good documentation of APIs is very important. Good API documentation removes frustration from not knowing what endpoints to use and to get the most out of a service.

You can start your research here: https://idratherbewriting.com/learnapidoc/
https://swagger.io/blog/api-documentation/create-compelli

[2020-09-18 12:52] ridlees commented on #168
What is this about: An application was once clean and tidy, but during its time the architecture has overgrown. A common problem with a mismatch in the system that undermines the whole project.
Read more here: https://cdn2.hubspot.net/hubfs/5196154/Collateral/White%20Papers/Senseon_WhitePaper_Web-1.pdf, https://dev.to/aregee/breaking-down-the-last-monolith-micro-frontends-hd4, https://www.cosmicpy

[2020-09-18 12:55] zeman-j4 commented on #96
What this is about: Performing automated data backup saves teams a big hustle in case data gets lost. Doing so lowers team frustration, removes risk for a business and frees hands of developers from doing repetitive tasks.

You can start your research here: https://www.hostpapa.com/blog/web-hosting/why-you-need-automated-website-backup/

Contribution guide: https://github.com/DXHeroes/knowledge-ba

[2020-09-18 13:02] ridlees commented on #167
What is this about: A bad architecture from the start is a problem that keeps appearing in the product development process. Your team can do little about it but redesign the whole system which increases costs. Good architecture can be a good product, however, bad architecture from the start leads to unsuccessful products.
Read more here: https://www.linkedin.com/pulse/software-architecture-refacto

[2020-09-18 13:02] zeman-j4 commented on #97
What this is about: Using a unified standard for naming branches makes it easier for developers to understand the scope and changes the branch contains.

You can start your research here: https://deepsource.io/blog/git-branch-naming-conventions/

Contribution guide: https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBUTING.md

[2020-09-18 13:03] ridlees commented on #146
What is this about: Is the process of identifying and analyzing potential issues that could negatively impact key business initiatives or projects. This process is done in order to help organizations avoid or mitigate those risks.
Read more here: https://searchsecurity.techtarget.com/definition/risk-analysis, https://www.mindtools.com/pages/article/newTMC_07.htm, https://www.pmi.org/learning/libra

[2020-09-18 13:05] ridlees commented on #144
What is this about: The release train is a technique for coordinating releases across multiple teams or components that have runtime dependencies. All releases happen on a fixed and reliable schedule regardless of whether all expected features are ready (the train doesn't wait for you — if you miss it you wait for the next one).
Read more here: https://www.thoughtworks.com/radar/techniques/release

[2020-09-18 13:06] ridlees commented on #143
What is this about: Release management is the process of managing, planning, scheduling, and controlling a software build through different stages and environments; including testing and deploying software releases.
Read more here: https://en.wikipedia.org/wiki/Release_management, https://www.lucidchart.com/blog/release-management-process, https://www.microfocus.com/en-us/what-is/release-managemen

[2020-09-18 13:09] zeman-j4 commented on #98
What this is about: Using Business model canvas serves as having the added value business as a one pager. This helps employees understand the true nature of business and understand it easily.

You can start your research here: https://www.alexandercowan.com/business-model-canvas-templates/
https://www.businessmodelsinc.com/about-bmi/tools/business-model-canvas/

Contribution guide: https://github.

[2020-09-18 13:12] zeman-j4 commented on #100
What this is about: Developing team members is important if you want to keep them around and happy. Team members with a coach are usually well set in their track of career and achieve more quicker. Couches can improve the quality of environment a help developers when feeling stuck or unhappy.

You can start your research here: https://instituteofcoaching.org/coaching-overview/coaching-benefits
htt

[2020-09-18 13:12] ridlees commented on #142
What is this about: Product concept validation is the process of gathering evidence around concepts through experimentation to make fast, informed, and de-risked decisions. The usual approaches validate the product against a problem, a market, itself, and against a customer (willingness to pay).
Read more here: https://www.verypossible.com/insights/how-we-work-validating-a-product-concept, https:/

[2020-09-18 13:15] zeman-j4 commented on #102
What this is about: Using a unified standard for naming commit makes it easier for developers to understand changes the commit contains.

You can start your research here: https://www.conventionalcommits.org/en/v1.0.0/
https://chris.beams.io/posts/git-commit/

Contribution guide: https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBUTING.md

[2020-09-18 13:17] ridlees commented on #118
What is this about: Handover to another team can look as scary. However, with help of certain practices any team can do a great job during Handover phase.
Read more here: https://www.exponentiallydigital.com/agile-handover/, https://www.researchgate.net/publication/256293238_Is_there_an_Agile_Handover_An_Empirical_Study_of_Documentation_and_Project_Handover_Practices_Across_Agile_Software_Teams, h

[2020-09-18 13:19] ridlees commented on #119
What is this about: Icebreaker is an activity that helps with getting through the first difficulties in starting a conversation or discussion.
Read more here: https://www.signupgenius.com/groups/group-icebreakers.cfm, https://www.tinypulse.com/blog/sk-work-icebreaker-games, https://www.eventmanagerblog.com/ice-breakers
-  Follow our [Contribution guide](https://github.com/DXHeroes/knowledge-base-c

[2020-09-18 13:20] zeman-j4 commented on #85
What this is about: Continuous delivery helps to get new tested features to users as fast as possible. Having this automated saves team members solid chunk of frustration and gives them more time to focus on development.

You can start your research here: https://continuousdelivery.com/

Contribution guide: https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBUTING.md

[2020-09-18 13:23] zeman-j4 commented on #86
What this is about: Managing well the stream of demands is important to build a good product the right way at the right time. The ability of team leads and product owners to say no to a sudden unimportant change is important to keep the scope intact.

You can start your research here: https://www.pmi.org/learning/library/demand-management-success-factor-portfolio-10189

Contribution guide: https:/

[2020-09-18 13:24] ridlees commented on #140
What is this about: Persona templates and propositions helps your team to better understand your customers, buyers, and users. With good persona, you can sell your services better. A poorly set persona can lead to unsuccessful products or bad market fits.
Read more here: https://www.columbiaroad.com/blog/how-to-map-your-buyer-personas-value-proposition, https://www.strategyzer.com/blog/posts/2016/

[2020-09-18 13:27] ridlees commented on #139
Got fixed by https://developerexperience.io/practices/penetration-testing

[2020-09-18 13:27] #139 closed

[2020-09-18 13:30] ridlees commented on #138
What is this about: Pact is a code-first consumer-driven contract testing tool and is generally used by developers and testers who code. Contract testing is a technique for testing an integration point by checking each application in isolation to ensure the messages it sends or receives conform to a shared understanding that is documented in a "contract".

Read more here: https://medium.com/buildi

[2020-09-18 13:31] zeman-j4 commented on #88
What this is about: Mid-sprint activity focusing on going through the current backlog and "refining" items on the list by adding more detail and estimates. Knowledge received from the ongoing sprint helps to improve the estimates and changes necessary to successfully achieve the desired outcome.

You can start your research here: https://www.scrum.org/resources/blog/scrum-trenches-product-backlog-

[2020-09-18 13:35] ridlees commented on #135
What is this about: No runtime version management is an overlooked problem that can cause a lot of issues within multiple environments, platforms, or just libraries.
Read more here: https://thinkaboutit.be/2018/10/how-do-i-set-the-runtime-version-of-the-extension-package/, https://brooklyn.apache.org/v/0.7.0-M1/use/guide/management/, https://www.se.com/ie/en/faqs/FA368875/, https://its.unl.edu/bes

[2020-09-18 13:42] #105 closed

[2020-09-18 13:49] ridlees opened #260 "Article: Cookie Consent"
What is this about: Why Do you create the consent screen? How do consents differ between UK/EU/US? Ex. In the UK, you need "active" consent.
Read more: https://www.smashingmagazine.com/2019/04/privacy-ux-better-cookie-consent-experiences/, https://www.privacypolicies.com/blog/cookie-consent-examples/, https://matomo.org/cookie-consent-banners/, https://consent.yahoo.com/v2/collectConsent?sessionId

[2020-09-18 14:05] zeman-j4 commented on #89
What this is about: Software is built by people, unfortunately not always effectively. Problems arise from poor business decisions or not well setup development flow. Focus on how to avoid these to save resources.

You can start your research here: https://lvivity.com/reduce-software-development-costs-mistakes
https://www.charterglobal.com/one-of-the-most-expensive-software-due-to-high-maintenance

[2020-09-18 14:16] zeman-j4 commented on #90
What this is about: Having a well set gitignore file will keep your codebase clean from all the files you do not want to share nor need to be shared - log files, dependencies, private data and so on. Set it up to stay safe and thoughtful.

You can start your research here: https://www.pluralsight.com/guides/how-to-use-gitignore-file
https://docs.github.com/en/github/using-git/ignoring-files

Contr

[2020-09-18 14:32] ridlees commented on #165
What is this about: How to approach functions optimization? What practices I can generally follow regardless if I optimize functions, code, or whole architecture?
Read more here: https://en.wikipedia.org/wiki/Program_optimization,
-  Follow our [Contribution guide](https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBUTING.md)
- How to [Git and Pull Requests]( https://github.com/f

[2020-09-18 14:37] ridlees commented on #136
What is this about: An overwhelmed dev-ops can not manage to follow with their tasks. Especially if they manage everything manually. Using certain practices like automatization can help with this problem.
Read more here: https://techbeacon.com/devops/devops-automation-best-practices-how-much-too-much, https://www.informationweek.com/overwhelmed-by-devops-tool-proliferation-/a/d-id/1334922, https:/

[2020-09-18 14:43] zeman-j4 commented on #87
What this is about: As every project fulfills its purpose, it is time to approach its conservation. It doesn't mean it will be shut down, rather only supported anymore and run for time necessary. Keeping it alive during this period of time has still some strings attached when it comes to resources.

You can start your research here: http://oss-watch.ac.uk/resources/preservation

Contribution guide

[2020-09-18 14:46] zeman-j4 commented on #91
What this is about: Taking absolute ownership in a project or team can be useful and sometimes even necessary. Keep it mind, that it isn't the only way thinks can be done.

You can start your research here: https://simpleprogrammer.com/extreme-ownership-programming-career/

Contribution guide: https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBUTING.md

[2020-09-18 14:49] ridlees commented on #117
What is this about: Hacked application is a nightmare creeping around good products. Losing access, data, money, and trust are just some of the lost when your application gets hacked. Following good security practices minimizes the risk of getting hacked, and learning from Big companies responses can slightly prepare you for the bad day.
Read more here: https://www.scmagazine.com/home/opinions/sol

[2020-09-18 14:49] zeman-j4 commented on #101
What this is about: Collective ownership brings a sense of unity to a team through knowing that everyone is responsible for every part of codebase. Responsibility brings a lot of responsibility as well as delights - when needed, any developer can tweak any part of the system as long as they know what they are doing.

You can start your research here: https://www.agilealliance.org/glossary/collecti

[2020-09-18 14:57] zeman-j4 commented on #94
What this is about: It is important to oversee the crucial parts of systems and teams. Knowing a little can have disastrous results, knowing too much leads to decision paralysis. The key is to identify what actually matters, how to measure it correctly and set a healthy bar for taking action.

Contribution guide: https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBUTING.md

[2020-09-18 14:57] #99 closed

[2020-09-18 15:02] zeman-j4 opened #261 "New article: Refactoring"
New article: Refactoring

What is this about: Software needs to be made sleeker, faster, better looking. For this, you have to refactor code - change the inner workings without changing the functionality. Elaborate on the right procedures and rules to follow.

Read more here: https://refactoring.com/

## How to contribute:
- Follow our [Contribution guide](https://github.com/DXHeroes/knowledge-bas

[2020-09-18 15:05] ridlees commented on #145
What is this about: How to share responsibility with your team. Being responsible for something ensures quality and can be a good reason to keep your team motivated.
Read more here: https://www.remodeling.hw.net/business/operations/shared-responsibility-advantages-of-creating-a-team-of-leaders, https://theproductivitypro.com/blog/2015/03/letting-go-the-benefits-of-sharing-responsibility/, https://

[2020-09-18 15:22] zeman-j4 opened #262 "New article: Backlog cleanup"
Backlog cleanup

What is this about: Removing deprecated issues that have been created during the overall lifecycle of a project shall be regularly performed activity resulting in cleaner backlog, faster plannings and cleaner scope.

Read more here: https://www.mountaingoatsoftware.com/blog/4-tips-for-spring-cleaning-your-product-backlog

## How to contribute:
- Follow our [Contribution guide](htt

[2020-09-18 15:23] ridlees commented on #125
What is this about: Implementing logging is a tricky practice. You can over-log, however, worse is to not log at all.
Read more here: https://www.securitymetrics.com/blog/importance-log-management, https://blog.codinghorror.com/the-problem-with-logging/, https://www.scalyr.com/blog/the-10-commandments-of-logging/, https://www.loomsystems.com/blog/single-post/2017/01/26/9-logging-best-practices-bas

[2020-09-18 15:27] zeman-j4 commented on #103
What this is about: In order to get teams working as well-oiled machines it is important to establish healthy communication that is effective and courteous. Removing communication blocks leads to happier developers, healthy environment and removes frustration.

You can start your research here: https://blog.jostle.me/blog/how-to-easily-get-effective-team-communication
https://www.proofhub.com/arti

[2020-09-18 15:38] ridlees commented on #130
What is this about: Low Bus factor can hold your team down. However, using certain practices you can improve knowledge and information sharing within your team and increase your Bus factor.
Read more here: https://dev.to/scottharrisondev/how-to-increase-your-bus-factor-3dpg, https://medium.com/management-matters/whats-the-bus-factor-of-your-team-and-how-to-increase-it-8bdfb63361fc, https://www.5wh

[2020-09-18 15:49] ridlees commented on #141
What is this about: Portability is the ability to be easily carried or moved. The portable product can be run on multiple machines and has architecture around it that supports it.
Read more here: https://en.wikipedia.org/wiki/Portability, https://en.wikipedia.org/wiki/Software_portability, https://www.pcmag.com/encyclopedia/term/software-portability, https://link.springer.com/content/pdf/10.1007%2

[2020-09-18 15:52] ridlees commented on #120
What is this about: Integration testing is a level of software testing where individual units/components are combined and tested as a group. The purpose of this level of testing is to expose faults in the interaction between integrated units.
Read more here: https://softwaretestingfundamentals.com/integration-testing/, https://www.guru99.com/integration-testing.html, https://www.softwaretestinghel

[2020-09-18 15:55] ridlees commented on #122
What is this about:Data leakage, also known as low and slow data theft, is a huge problem for data security, and the damage caused to any organization, regardless of size or industry, can be serious
Read more here: https://www.forcepoint.com/cyber-edu/data-leakage, https://www.upguard.com/blog/data-leak, https://www.sans.org/reading-room/whitepapers/awareness/paper/1931, https://sectigostore.com/b

[2020-09-22 15:03] ridlees commented on #160
What is this about: Validation with Security, Legal, Risk, and Compliance stack is a crucial step when implementing (or creating) something new in corporations.
Read more here: https://www.onespan.com/blog/top-2020-banking-regulations-security-compliance-requirements, https://resources.infosecinstitute.com/step-step-guide-data-security-compliance-industry/,
-  Follow our [Contribution guide](https

[2020-09-22 15:07] ridlees commented on #123
What is this about: Learning cards are an another way to validate your ideas and hypothesis. Their main principle is that testing is learning process and that is why they measure what you have learned during testing.
Read more here: https://jthoyer.wordpress.com/design-playbook/hypothesis-testing/
-  Follow our [Contribution guide](https://github.com/DXHeroes/knowledge-base-content/blob/master/CON

[2020-09-22 15:13] ridlees commented on #154
What is this about: The Lean ideas stand on customer testing/validating. Test cards are made to help you by asking 4 important questions: The belief, how will you test it, what will you measure and what will you do if you are right.
Read more here: https://www.strategyzer.com/blog/posts/2015/3/5/validate-your-ideas-with-the-test-card
-  Follow our [Contribution guide](https://github.com/DXHeroes/k

[2020-09-22 15:15] ridlees commented on #127
What is this about: Incident resolution time is an important business metric showing how responsive your team is. If you are slow, then your team can not be considered agile. Your customers will not be happy with slow incident resolution time.
Read more here: https://www.pagerduty.com/blog/6-steps-reducing-incident-resolution-time/, https://www.bostonhelpdesk.com/response-time-vs-resolution-time-u

[2020-09-22 15:20] ridlees commented on #129
What is this about: The bad team onboarding is when your new members don't receive the crucial information (or receive too many points) at the pace (the onboarding is slow or too quick). Bad team onboarding can disrupt your team's culture and even create unmotivated team members.
Read more here: https://www.businessnewsdaily.com/9936-consequences-poor-onboarding.html, https://www.peoplemattersglob

[2020-09-22 15:26] ridlees commented on #115
What is this about: Update to the https://github.com/DXHeroes/knowledge-base-content/blob/master/practices/readme.md on how to add **Getting started** part. Examples of good code samples, installation guides, and requirements.
Read more here: https://rowanmanning.com/posts/writing-a-friendly-readme/
-  Follow our [Contribution guide](https://github.com/DXHeroes/knowledge-base-content/blob/master/C

[2020-09-24 12:45] ridlees opened #266 "Update article: Pull Requests"
- [x] Link to practice: "https://developerexperience.io/practices/pull-requests"

- [x] What is this about: I would like to enrich the "anatomy" of a pull request from the current version: _Encourage small pull requests. Nobody wants to review 5000+ lines of changes within one PR._ according to this article (https://medium.com/@hugooodias/the-anatomy-of-a-perfect-pull-request-567382bb6067)

## How

[2020-09-27 13:57] elaynelemos commented on #163
It would be awesome for me to contribute on it. May I?

[2020-09-27 14:33] prokopsimek commented on #163
@elaynelemos Hi, of course, you can!

[2020-09-28 17:07] ridlees commented on #90
Add short template for Java, Javascript, Typescript

[2020-09-28 17:21] ridlees opened #268 "Update article: Package management"
- [x] Link to practice: "https://developerexperience.io/practices/package-management"

- [x] What is this about: "Add Java Specifying dependencies (Maven or Gradle)"

## How to contribute:
- Follow our [Contribution guide](https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBUTING.md)
- How to [Git and Pull Requests]( https://github.com/firstcontributions/first-contributions/blob/

[2020-09-30 05:07] snehal199 commented on #266
can I pick this up @ridlees ?

[2020-09-30 07:20] ridlees commented on #266
@snehal199 Sure, go for it!

[2020-09-30 15:42] wilsantow commented on #268
can I work on this issue @ridlees ?

[2020-09-30 15:49] ridlees commented on #268
Hello, @wilsantow, of course!

[2020-09-30 17:30] #268 closed

[2020-09-30 18:05] ramesht007 commented on #184
hey @prokopsimek , can I work on this

[2020-09-30 18:14] ridlees commented on #184
Hello, sure, go for it!

[2020-10-01 04:11] hacky1997 commented on #260
@ridlees I want to work on this. Could you please assign me to this?

[2020-10-01 05:11] prokopsimek commented on #260
@hacky1997 Hi! Sure. Go for it!

Do not forget to follow our [Contribution guide](https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBUTING.md).

[2020-10-01 05:27] yogesh-hackx commented on #102
can I pick this up? @prokopsimek

[2020-10-01 05:33] ramesht007 commented on #184
Hi, @ridlees the above links for Git- data model,Branching, and index are not working. can you please share any other link.
Thanks

[2020-10-01 05:46] prokopsimek commented on #184
@ramesht007 There are these same articles on Medium. 📝

https://medium.com/hackernoon/https-medium-com-zspajich-understanding-git-data-model-95eb16cc99f5
https://medium.com/hackernoon/understanding-git-branching-2662f5882f9
https://medium.com/hackernoon/understanding-git-index-4821a0765cf

[2020-10-01 05:46] ramesht007 commented on #184
Thanks @prokopsimek , I will look into it

[2020-10-01 05:51] wilsantow commented on #111
@zeman-j4  Can I work on this?

[2020-10-01 05:52] prokopsimek commented on #111
@wilsantow Go for it! 👏

[2020-10-01 05:55] prokopsimek commented on #102
@yogesh-hackx Sure! Go for it!

[2020-10-01 06:34] Harsha-Ambati commented on #117
https://www.siteguarding.com/en/what-to-do-if-your-website-has-been-hacked
this is also will be useful

[2020-10-01 08:21] ridlees commented on #117
@Harsha-Ambati Sure, the sources we have provided are just a starting point. If you think the Siteguarding article is a better fit, you can use it instead. Do you want to be assigned to this issue and give it a try?

[2020-10-01 08:34] mathagician commented on #171
@ridlees I would like to work on it. Could you please help me to get started?

[2020-10-01 08:44] ridlees commented on #171
@mathagician Hello. Sure, I will assign you. I can see that you are a veteran _Github-er_.

Please, let me know how can I help you. What are the obstacles?

[2020-10-01 11:19] CodeSadhu commented on #169
@ridlees What's this about? What do I need to contribute? I'll love to contribute an article if that's what this is!

[2020-10-01 14:02] prokopsimek commented on #169
@CodeSadhu Sure! Go ahead!

[2020-10-01 14:11] DominikMilaniak commented on #169
@CodeSadhu Hi! Yes - the output of this issue is an article on the "Lack of Purpose" topic. As you said you wanted to write about that, you are welcomed to do that :) Please, follow our [Contribution Guide](https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBUTING.md). We are looking forward to your article!

[2020-10-01 14:13] CodeSadhu commented on #169
@DominikMilaniak Great! Is there a minimum length that my article should be?

[2020-10-01 14:17] ridlees commented on #169
@CodeSadhu Hello, there is none. However, the article should have value for its reader. Thus the length is up to you and your decision to ensure the quality. As one of my mentors said: "If you focus on the message, the length will naturally appear".

[2020-10-01 14:20] prokopsimek commented on #169
@CodeSadhu You can take a look at [other similar articles](https://github.com/DXHeroes/knowledge-base-content/tree/master/problems). It should have a similar length.

[2020-10-01 16:10] Kuljeet-123 commented on #172
@prokopsimek  can I take up this issue??

[2020-10-01 16:12] Kuljeet-123 commented on #97
@prokopsimek  can I work on this issue??

[2020-10-01 16:13] ridlees commented on #172
@Kuljeet-123 Hello, sure go for it!

[2020-10-01 16:18] adithyaakrishna commented on #158
@prokopsimek Would love to work on this :)

[2020-10-01 16:20] adithyaakrishna commented on #90
@prokopsimek  Would love to work on this :)

[2020-10-01 16:22] ridlees commented on #90
@adithyaakrishna Hello, sure, go for it!

[2020-10-01 16:49] DominikMilaniak commented on #90
Hi @adithyaakrishna! I am extremely happy you chose our project! 😄 I see you are assigned to "User journey" article as well - will you be able to produce 2 articles? If yes, I will happily assign you to this article too :)

[2020-10-01 16:54] DominikMilaniak commented on #172
Hi @Kuljeet-123 I am extremely happy you chose our project! :smile: I see you are assigned to "Branch naming rules" article as well - will you be able to produce 2 articles? If yes, I will happily assign you to this article too :)

[2020-10-01 18:13] wilsantow commented on #111
@prokopsimek I opened a pull request. Can you go through the article and tell me if there is anything to change or add?

[2020-10-01 18:50] Kuljeet-123 commented on #172
@DominikMilaniak it's okay you can give it to anyone else till then I'll finish my first issue.

[2020-10-01 19:39] snehal199 commented on #266
@ridlees I plan to change the point to- "Encourage pull requests that are short and solve a specific problem. Also inculcate the practice of giving pull requests a relevant and precise title and description. These practices make the process of code review and product development faster,easier and more efficient."

Would that be good or should I make some changes?

[2020-10-01 21:32] shashwat28nov commented on #261
Hello, can I work on this?

[2020-10-01 21:34] shashwat28nov commented on #170
Hi, can I work on this?

[2020-10-01 22:33] adithyaakrishna commented on #90
Yes @DominikMilaniak I'll be able to, but it may take a day or two from both of the articles, hope its okay 😊

[2020-10-01 22:38] adithyaakrishna commented on #158
Thank You @prokopsimek @ridlees Will finish this soon 🚀
I had a doubt, Can I use Adobe Ps or Xd and also, Could you point me the right example of the User Journey so that I can get started on it.
1.
![image](https://user-images.githubusercontent.com/23498248/94870299-cf887780-0464-11eb-9e67-b8555d4fdbc3.png)
2.
![image](https://user-images.githubusercontent.com/23498248/94870267-c3041f00-0464-11eb

[2020-10-02 03:01] swapniljha001 commented on #173
What's the issue?

[2020-10-02 03:42] ShyamPraveenSingh commented on #266
Can anyone explain to me what is this issue about?
I would to work on it.

[2020-10-02 04:59] wilsantow commented on #95
Can I take this up?

[2020-10-02 05:36] DominikMilaniak commented on #90
That is amazing @adithyaakrishna! Of course it is okay, take as much time as you need :) I'm assigning you to this as well. Looking forward to your articles! ❤️

[2020-10-02 06:16] darkmatter18 commented on #162
@prokopsimek I want to complete this. Please assign me. Thanks

[2020-10-02 07:22] DominikMilaniak commented on #162
Hi @darkmatter18! We are extremely happy you chose our project :) I am assigning you to this article. Looking forward to your contribution! :)

[2020-10-02 08:34] ridlees commented on #266
@snehal199 Thanks for the question. I would suggest expanding the part about the anatomy of a great pull request. In the article I have linked, you have some specific details (like that pull request should be smaller than 250 lines of code). I would also recommend adding the article into sources for the Pull request article. Similarly, you could explore the relevant title and description part. The

[2020-10-02 08:36] ridlees commented on #266
@ShyamPraveenSingh Hello, this issue is about updating an existing article in our Knowledge Base with the anatomy of a good pull request. @snehal199 is currently working on this. You can look at [other curated issues](https://github.com/DXHeroes/knowledge-base-content/contribute) if you want to contribute.

[2020-10-02 08:54] ridlees opened #292 "New article: Dev Portals"
- [ ] What is this about: A developer portal is a site that provides APIs with all the documentation connected to it. In our understanding, a developer portal is a self-service support hub, a trust signal, a communication nexus for API stakeholders, and a key tool that helps an organization to provide the best possible developer experience for its APIs.

- [ ] Read more here:https://devportalaward

[2020-10-02 10:38] Viswalahiri commented on #172
I'd like to take up this issue, while @Kuljeet-123 is working on another one.
@ridlees can you kindly assign it to me so I can get started ?

[2020-10-02 10:39] ridlees commented on #172
Hello @Viswalahiri, sure, go for it!

[2020-10-02 15:19] uravgkarthik commented on #159
May I take this?

[2020-10-02 15:20] ridlees commented on #159
@uravgkarthik Sure, go for it.

[2020-10-02 19:29] schezfaz commented on #118
Hey! can I work on this issue?

[2020-10-02 19:49] ridlees commented on #118
@schezfaz Hello, sure, go for it! If you need any help, let me know.

[2020-10-02 21:40] liliancavalet commented on #119
Hello, I would like to work in this issue. Can you please assign me?

[2020-10-02 21:43] ridlees commented on #119
Hello @liliancavalet, of course, go for it. I have assigned you to this issue 😄

[2020-10-02 22:02] ridlees commented on #158
@adithyaakrishna Sorry for the delay. For what exactly are you using AdobePS or Xd? Are you creating your own content (like images, templates, or others)?

Speaking of the right user journey, these sources: https://blog.flexmr.net/understanding-the-customer-journey, https://www.experienceux.co.uk/faqs/what-are-user-journeys/, https://thepathforward.io/creating-customer-personas/, https://www.youtu

[2020-10-03 06:22] mohitshende commented on #150
I would like to work on this.

[2020-10-03 07:14] ramesht007 commented on #166
hey, @prokopsimek @ridlees I would like to work on this one

[2020-10-03 07:18] ramesht007 commented on #115
hey, @prokopsimek  @ridlees i would like to work on this one.

[2020-10-03 07:33] DominikMilaniak commented on #115
Hi @ramesht007. Another two issues you want to contribute to? Awesome! Thank you so much. I will gladly assign you to this and "Multiple environments" issue - if it would turn out this is too much for you, it's ok, just contact me and I will assign the issue to anyone else 😄 We are so happy you chose to make our knowledge base better and share your knowledge with hundreds of developers and team le

[2020-10-03 07:35] ramesht007 commented on #115
Thanks @DominikMilaniak 🙂

[2020-10-03 07:35] DominikMilaniak commented on #166
As I wrote in [this issue](https://github.com/DXHeroes/knowledge-base-content/issues/115#issuecomment-703061764) I'm assigning you to this as well 😄 Have fun! ❤️

[2020-10-03 07:36] ramesht007 commented on #115
I am just learning stuff, and according to me blogging out what you have understood is the best one gain knowledge and share it everyone. 😁😀

[2020-10-03 07:37] ramesht007 commented on #166
Thanks @DominikMilaniak 🙂

[2020-10-03 07:38] DominikMilaniak commented on #150
Hi @mohitshende! Thank you for choosing our projects for your contribution! Your wish is my command - I am assigning you to this issue 😄 We are looking forward to your article!

[2020-10-03 07:44] DominikMilaniak commented on #115
Yes! I couldn't agree more 😄 I am glad you chose our Knowledge Base ("blog") from all the other possibilities! 😄

[2020-10-03 07:47] mohitshende commented on #150
Thanks @DominikMilaniak .

[2020-10-03 23:59] shivangi-21 commented on #157
Hi can i take a shot a this?

[2020-10-04 00:00] angiesk commented on #157
Hi can i take a shot at this ?

[2020-10-04 13:53] DominikMilaniak commented on #157
Hi @angiesk! Of course, go for it! I am assigning you to this. Looking forward to your article! 🙂

[2020-10-04 23:58] jmannina commented on #155
Hi, Do these need to be assigned? If so I would like to work on this.

[2020-10-05 05:47] prokopsimek opened #293 "New article: Infrastructure as a Code"
# Title: Infrastructure as a Code

- [x] What is this about: “What is this practice about”? Which existing (or new) problems does this practice solve?

The article is about the automation of DevOps processes. How is it possible to automate deployment do cloud services (e.g. Kubernetes), recommended tools, what's the main target of the automation and what benefits it has.

- [x] Read more here: The

[2020-10-06 10:59] DominikMilaniak commented on #90
**Hi again** @adithyaakrishna! 🙂

I see it is a few days since our last contact, how is it going so far with the article? Is anything not clear enough or do you need help with something? I am in no way pushing you, you can take as much time as you need 🙂  Just wanted to get in touch to make sure everything is ok 👍

[2020-10-06 11:05] DominikMilaniak commented on #97
**Hi again** @Kuljeet-123! 🙂

A few days have passed since our last contact, how is it going so far with the article? Is anything not clear enough or do you need help with something? I am in no way pushing you, you can take as much time as you need 🙂  Just wanted to get in touch to make sure everything is ok 👍

[2020-10-06 11:06] DominikMilaniak commented on #102
**Hi again** @yogesh-hackx ! 🙂

A few days have passed since our last contact, how is it going so far with the article? Is anything not clear enough or do you need help with something? I am in no way pushing you, you can take as much time as you need 🙂  Just wanted to get in touch to make sure everything is ok 👍

[2020-10-06 11:19] DominikMilaniak commented on #115
**Hi again** @ramesht007! 🙂

A few days have passed since our last contact, how is it going so far with this article? I see you are working on the [Git](https://github.com/DXHeroes/knowledge-base-content/issues/184) article and you are doing absolutely amazing work there, but it looks like it took a huge portion of your schedule, so I just wanted to ask, if you still want to do this and [Multiple

[2020-10-06 11:19] DominikMilaniak commented on #118
**Hi again** @schezfaz! 🙂

A few days have passed since our last contact, how is it going so far with the article? Is anything not clear enough or do you need help with something? I am in no way pushing you, you can take as much time as you need 🙂  Just wanted to get in touch to make sure everything is ok 👍

[2020-10-06 11:28] DominikMilaniak commented on #119
**Hi again** @liliancavalet! 🙂

A few days have passed since our last contact, how is it going so far with the article? Is anything not clear enough or do you need help with something? I am in no way pushing you, you can take as much time as you need 🙂  Just wanted to get in touch to make sure everything is ok 👍

[2020-10-06 11:29] DominikMilaniak commented on #150
**Hi again** @mohitshende! 🙂

A few days have passed since our last contact, how is it going so far with the article? Is anything not clear enough or do you need help with something? I am in no way pushing you, you can take as much time as you need 🙂  Just wanted to get in touch to make sure everything is ok 👍

[2020-10-06 11:30] DominikMilaniak commented on #159
**Hi again** @uravgkarthik! 🙂

A few days have passed since our last contact, how is it going so far with the article? Is anything not clear enough or do you need help with something? I am in no way pushing you, you can take as much time as you need 🙂  Just wanted to get in touch to make sure everything is ok 👍

[2020-10-06 11:31] DominikMilaniak commented on #162
**Hi again** @darkmatter18! 🙂

A few days have passed since our last contact, how is it going so far with the article? Is anything not clear enough or do you need help with something? I am in no way pushing you, you can take as much time as you need 🙂  Just wanted to get in touch to make sure everything is ok 👍

[2020-10-06 11:33] DominikMilaniak commented on #163
**Hi again** @elaynelemos! 🙂

A few days have passed since our last contact, how is it going so far with the article? Is anything not clear enough or do you need help with something? I am in no way pushing you, you can take as much time as you need 🙂  Just wanted to get in touch to make sure everything is ok 👍

[2020-10-06 11:35] DominikMilaniak commented on #169
**Hi again** @CodeSadhu! 🙂

A few days have passed since our last contact, how is it going so far with the article? Is anything not clear enough or do you need help with something? I am in no way pushing you, you can take as much time as you need 🙂  Just wanted to get in touch to make sure everything is ok 👍

[2020-10-06 11:37] DominikMilaniak commented on #171
Hello again @mathagician!

Are you still interested in working on this article? We are happy to help you with anything 🙂

[2020-10-06 11:38] DominikMilaniak commented on #260
**Hi again** @hacky1997! 🙂

A few days have passed since our last contact, how is it going so far with the article? Is anything not clear enough or do you need help with something? I am in no way pushing you, you can take as much time as you need 🙂  Just wanted to get in touch to make sure everything is ok 👍

[2020-10-06 11:39] mohitshende commented on #150
Yeah , everything is fine. Thanks @DominikMilaniak for the concern. I am currently working on it. Its my first time writing this type of article so I'm taking a bit more time. By the way , everyone at DXHeroes is very humble , kind and helpful. Thanks again.

[2020-10-06 11:41] DominikMilaniak commented on #266
**Hi again** @snehal199! 🙂

A few days have passed since our last contact, how is it going so far with the article? Is anything not clear enough or do you need help with something? I am in no way pushing you, you can take as much time as you need 🙂  Just wanted to get in touch to make sure everything is ok 👍

If you are no longer interested in writing this article - which is completely fine 🙂  I w

[2020-10-06 11:49] ShyamPraveenSingh commented on #266
Yes Sir @DominikMilaniak very much interested! 😃

[2020-10-06 11:59] DominikMilaniak commented on #150
Happy to hear that @mohitshende 🙂  I am thrilled to hear, that you are stepping out of your comfort zone to contribute to open source ❤️  Take as much time as you need to. Everyone at DX Heroes is looking forward to your article!

_Btw - you made our day with the last sentence, thank you_ 🙂

[2020-10-06 12:02] ramesht007 commented on #115
Hi @DominikMilaniak , sorry for delay i will probably make a PR tomorrow. It took me time as i was thinking about how to organise the content, so that it looks good and is readable.😀

[2020-10-06 12:04] CodeSadhu commented on #169
@DominikMilaniak Hey! Sorry to say but I haven't started on the article yet. I'll be writing it in the coming week and I'll be sure to ask clarifications if needed 😄

[2020-10-06 13:18] elaynelemos commented on #163
Hey, @DominikMilaniak ! I got a little busy but I didn't forget  the article. For now I don't have any doubts, thanks for your support. I hope I can submit it this week.

[2020-10-06 13:25] ng29 commented on #146
Heya,
@ridlees What's this about? What are the expectations ? I'll love to contribute an article if that's what this is!

Cheers,

[2020-10-06 13:27] ridlees commented on #146
Hello @ng29, it is indeed an article. The "What is this about:" part of my previous comment shows you a rough idea of the topic. Moreover, I have added some sources for you (don't feel obligated to use them).

 Thanks a million, I am assigning you. If you had any questions, let me know.

[2020-10-06 13:38] snehal199 commented on #266
Sorry for the delay @DominikMilaniak  :sweat_smile:  , I would be making a pr for the issue soon.

[2020-10-06 13:55] uravgkarthik commented on #159
Hey @DominikMilaniak I'm so sorry for the delay. I actually got stuck up with what is supposed to be done. I tried to go through the links given, but couldn't get a proper understanding. Could you please throw some light to this?

[2020-10-06 14:18] hacky1997 commented on #260
@DominikMilaniak Extremely sorry. Actually, I am a bit busy with the company's task. So, that's why it is not completed yet. But I will surely do this within a short time period. Thank you so much. :)

[2020-10-06 14:37] DominikMilaniak commented on #163
Of course @elaynelemos, take as much time as you need to 🙂  Looking forward to the article!

[2020-10-06 14:45] DominikMilaniak commented on #260
Don't apologize @hacky1997 - take as much time as you need to. I 100% understand, that the company task is way more important. I just wanted to know if everything is ok and clear 🙂  Looking forward to your PR! ❤️

[2020-10-06 15:05] ShyamPraveenSingh commented on #266
Yes I totally understand.
Let me browse through the issues list and I'll let you know about it.

[2020-10-06 15:10] ShyamPraveenSingh commented on #155
Hi, I would like to work on this issue.
Can you please assign it to me?

[2020-10-06 15:11] ShyamPraveenSingh commented on #145
Hi, I would like to work on this issue.
Can you please assign it to me?

[2020-10-06 15:16] ridlees commented on #159
Hello, @uravgkarthik, I am here for you.

UX means User experience (which is a broad term) and UX testing is testing of the User experience. The article should explain general practices of the UX testing (look at this article on goals, it can help youz out https://developerexperience.io/practices/ux-testing-goals). Other sources like https://www.crazyegg.com/blog/user-experience-testing/, https://

[2020-10-06 15:17] ridlees commented on #145
@ShyamPraveenSingh Hello, of course, go for it.

[2020-10-06 15:21] ridlees commented on #155
Hello @ShyamPraveenSingh, I have just assigned you on [Responsibility](https://github.com/DXHeroes/knowledge-base-content/issues/1454). If you want, it is no problem for me to assign you to this issue as well. I just want to be sure you are not overwhelmed by work.

[2020-10-06 15:32] ShyamPraveenSingh commented on #155
Yes sure, no problem Sir.
Let me first complete the other issue first and the maybe you can assign me this.

[2020-10-06 15:37] ridlees commented on #155
@ShyamPraveenSingh Sure! I will count you as "shadow assigned" (if someone else would like to work on this, we will ask you if you want to give the issue away) 😄

[2020-10-06 15:45] ShyamPraveenSingh commented on #145
Sure thanks.
I"ll start working on it.

[2020-10-06 18:44] KatFrog commented on #173
I will write this article.  I'll have it ready by the end of the week.

[2020-10-07 03:15] ShyamPraveenSingh commented on #155
That is a great idea!

[2020-10-07 04:27] hritikkhurana10sm commented on #184
Can u work on this issue . please

[2020-10-07 04:28] hritikkhurana10sm commented on #184
Can I work on this issue . Please

[2020-10-07 06:31] Kuljeet-123 commented on #97
@DominikMilaniak I'm working on that right now. I'll push the changes soon.

[2020-10-07 06:33] DominikMilaniak commented on #97
That's awesome @Kuljeet-123 🎉 Take as much time as you need to. Looking forward to your article! 🙂

[2020-10-07 11:24] schezfaz commented on #118
Hi @DominikMilaniak! Apologies for being MIA. It's going good so far, will send in a PR soon!! Thanks for checking in. Again, apologies for the delay.

[2020-10-07 23:44] liliancavalet commented on #119
Hello, @DominikMilaniak

Sorry for the really late response, and thanks for reaching out.
Regarding the article is everything is fine, no doubts until now, and I am on my way to finish it.
I hope I can deliver it until this Saturday (Brazilian time).

Regards,
Lilian

[2020-10-08 03:24] ShyamPraveenSingh commented on #155
Hi @prokopsimek, I have made a pull request for the article on Responsibility.
So, can you please review that PR and also now since I am free you can assign me this issue too.

[2020-10-08 08:31] ridlees commented on #184
Hello @hritikkhurana10sm, @ramesht007 is currently working on this issue and has opened a PR that solves it. Would you mind looking at the rest of our issues https://github.com/DXHeroes/knowledge-base-content/issues and pick one that is open?

[2020-10-08 08:52] yogesh-hackx commented on #102
Hello,
& sorry for late reply, actually I got stuck due to some health issues.
I'll try to raise a PR by tommorow. ✌🏻

[2020-10-09 09:32] DominikMilaniak commented on #102
Hi again @yogesh-hackx!

Please, do not apologize - there is no time limit, you can take as much time as you need to. I just wanted to reach out to you, if everything is ok 🙂  I am sorry to hear you have some health issues, everybody from DX Heroes wishes you as fast as possible recovery ❤️  Looking forward to your article 🙂

[2020-10-09 09:36] DominikMilaniak commented on #119
Hi again @liliancavalet!

Don't apologize for the delay, there is was no time limit 🙂  I see you already submitted the PR before I could get back to you, awesome work! ❤️  One of my awesome colleagues, who has experience with tech writing will get back to you asap with feedback.

Have a wonderful day!
Dom

[2020-10-09 09:37] DominikMilaniak commented on #118
Hi again @schezfaz!

Please, don't apologize for the delay - there is no time limit and you can take as much time as you need to 🙂  Looking forward to your article! ❤️

Have a wonderful day,
Dom

[2020-10-10 20:06] xaylax commented on #262
Hello! Would I be able to take this issue?

[2020-10-10 20:07] xaylax commented on #134
Hello! Would I be able to work on this issue?

[2020-10-10 20:07] xaylax commented on #112
Hi! Can I work on this issue?

[2020-10-11 08:37] DominikMilaniak commented on #112
Hello @xaylax! 🙂

I am super excited you chose our projects to contribute to. I see you picked 3 articles you want to work on. That's absolutely awesome, I am just wondering if the load isn't too much. I mean there is no time limit, so if you really want to work on all 3 of them, say a word and I will gladly assign you 🙂

_Btw. I absolutely love your personal readme and how you work with it_ ❤️

[2020-10-11 17:17] xaylax commented on #112
Hey @DominikMilaniak ! I think DXHeroes is an awesome initiative and would love to contribute as much as I can! I would totally be ok with doing the 3 articles, I was just wondering how much detail each article had to go into, as well as each article's length. This would definitely help me decide whether I should just stick to one article, or perhaps do all 3 👍

Thanks so much for the comment re.

[2020-10-11 22:59] ng29 commented on #293
hey @prokopsimek
Can i contribute in this ??

[2020-10-11 23:00] ng29 commented on #168
heya @prokopsimek / @ridlees

Can i pick this up if it is available? ?

[2020-10-11 23:01] ng29 commented on #167
@prokopsimek / @ridlees

Can i contribute into this ? ?

[2020-10-11 23:01] ng29 commented on #165
@prokopsimek  / @ridlees

Can i work on this as i will love to write on this topic.

Cheers

[2020-10-11 23:02] ng29 commented on #125
@prokopsimek  / @ridlees

I would like to work on this as ifaced this issue in my recent project..

[2020-10-11 23:03] ng29 commented on #129
heya @prokopsimek  / @ridlees

Can i pick this up.  ? ?

[2020-10-11 23:04] ng29 commented on #126
@prokopsimek   / @ridlees

Can i work on this tooo,  i  would love to contribute..

[2020-10-11 23:05] ng29 commented on #127
heya. @prokopsimek  / @ridlees
Can i contribute on this ? ?

(Please don't ignore as i have requested few more issues on articles but i will definitely finish them all 👍 )

Cheers

[2020-10-11 23:06] ng29 commented on #103
@prokopsimek   / @ridlees  / @zeman-j4

Can. i pick this up ? ?

[2020-10-11 23:07] ng29 commented on #100
hiya @zeman-j4 / @prokopsimek  / @ridlees

Can i contribute to thiss? ? ?

[2020-10-11 23:07] ng29 commented on #95
hiya @zeman-j4 / @prokopsimek  / @ridlees

Can i contribute to thiss? ? ?

[2020-10-11 23:08] ng29 commented on #146
Hey @ridlees  / @prokopsimek

Apologies for the delay(was stuck with shifting), will cook this up tomorrow

Cheers

[2020-10-12 07:44] DominikMilaniak commented on #146
Hey @ng29! 🙂

Please, don't apologize - there is no time limit, you can take as much time as you need.

I've noticed you want to work on 11 other articles. Even though I think it is absolutely awesome you want to contribute that much to our Knowledge Base, I am little bit afraid if 11 isn't too much. I propose this - I will assign you 2 more articles on top of this one (you can choose which one, j

[2020-10-12 11:10] ng29 commented on #146
hey @DominikMilaniak

Thankss alot for understanding, sure sure will start these first.

https://github.com/DXHeroes/knowledge-base-content/issues/165
https://github.com/DXHeroes/knowledge-base-content/issues/129

Cheers,

[2020-10-12 11:16] DominikMilaniak commented on #146
Awesome! I'm assigning you 🙂

Enjoy your monday (at least in the UTC timezone 😄),
Dom

[2020-10-12 11:38] ng29 commented on #146
Gracias Dom 💯

[2020-10-12 13:35] ng29 commented on #146
Hey @DominikMilaniak
Have baked this dish, rest are in the oven 👍
Please have a look and review.

[2020-10-12 15:38] ng29 commented on #165
@DominikMilaniak

Kindly review and merge as per your bandwidth 👍
Cheers

[2020-10-12 21:18] ng29 commented on #146
Voila, all done @DominikMilaniak , kindly review them so that i can pick new ones 👍

Cheers

[2020-10-13 17:14] schezfaz commented on #118
Hey @DominikMilaniak! I have opened a PR for the same. Let me know what you think! Thanks :D

[2020-10-13 19:06] ridlees commented on #168
Hello @ng29, I am sorry, there is @vlasy working on this. I will ask what is the status. In the meantime, I want to encourage you to look at our issues https://github.com/DXHeroes/knowledge-base-content/issues. I will get back here and let you know if @vlasy will hand this issue over to you :)

[2020-10-13 19:20] ng29 commented on #168
hiya @ridlees , yeah sure .. No worrries, if this is the scenario i will pick up other ones.

[2020-10-13 19:22] ng29 commented on #171
hey @ridlees  / @DominikMilaniak

If this is up for grabs, can i pick this up ??

Cheers

[2020-10-13 19:28] ng29 commented on #122
hey @ridlees  / @DominikMilaniak
Can i pick this up ?

[2020-10-13 19:29] ng29 commented on #153
heya @ridlees / @DominikMilaniak

Will like to work on this..

[2020-10-13 19:30] ng29 commented on #146
Hey @DominikMilaniak

Here are more links of articles that i can pick up, please assign it to me.

https://github.com/DXHeroes/knowledge-base-content/issues/122
https://github.com/DXHeroes/knowledge-base-content/issues/125
https://github.com/DXHeroes/knowledge-base-content/issues/126
https://github.com/DXHeroes/knowledge-base-content/issues/127
https://github.com/DXHeroes/knowledge-base-content/is

[2020-10-13 19:45] adithyaakrishna commented on #90
Hey @DominikMilaniak , Yes Just started on this. Due to some personal work wasn't able to commit to this. But will update as soon as I'm done :)

[2020-10-14 08:14] pamichalik opened #308 "New article: Software Development Kit (SDK)"
# Title: Software Development Kit (SDK)

- [ ] What is this about: “What is this practice about”? Which existing (or new) problems does this practice solve?
Description of what SDK is, how it helps developers, and what it should contain. It is also good to mention the differences between SDK and API.

- [ ] Read more here: The starting point for your research (You can use different sources if you

[2020-10-14 08:37] DominikMilaniak commented on #146
Hi again @ng29!

Amazing work! My colleague will surely review your article as soon as possible ❤️ I will assign you the first 2 issues you've mentioned in your previous message. As soon as these 2 will be finished as well, I will gladly assign you another one or two 🙂

Have a great day.
Dom

[2020-10-15 11:48] sudiptog81 commented on #308
Can I contribute towards addressing this issue?

[2020-10-15 12:03] DominikMilaniak commented on #308
Hi @sudiptog81!

Of course! I am super glad you chose our DX Knowledge Base for your contribution. I am assigning you to this article, have fun 🙂  Looking forward to what you will create!

[2020-10-16 06:22] #266 closed

[2020-10-16 12:44] Diu2912 commented on #95
Can you assign this issue to me ? I wanna contribute in this....

[2020-10-16 12:47] DominikMilaniak commented on #95
HI @Diu2912!

Of course 🙂 @ng29 is already working on other articles, so I will assign this one to you. Looking forward to your article 🙂

[2020-10-16 12:56] Diu2912 commented on #114
Can you assign me this issue?  i want to contribute in this.....

[2020-10-16 13:03] Diu2912 commented on #95
Thank You !!  I will definitely put my efforts in this!!!

[2020-10-16 13:33] sks147 commented on #112
Hi @DominikMilaniak @prokopsimek can I pick up this issue?

[2020-10-16 13:35] sks147 commented on #93
Hi @prokopsimek can I contribute to this issue?

[2020-10-16 15:28] xaylax commented on #134
No worries, I'm actually busy so I won't be able to commit anymore, sorry :(

[2020-10-16 15:29] xaylax commented on #112
I'm busy so I won't be able to commit anymore, so if it's alright with the organizers, go ahead ^^

[2020-10-18 20:45] Ruchika30 commented on #156
I would like to take this up @prokopsimek

[2020-10-19 06:36] VinulaUthsara commented on #143
Hi, can I take this up?

[2020-10-19 06:56] VinulaUthsara commented on #98
Hey @zeman-j4 @prokopsimek , can I work on this?

[2020-10-19 06:57] VinulaUthsara commented on #85
Hey @prokopsimek @ridlees @zeman-j4 , can I take this up?

[2020-10-19 10:37] DominikMilaniak commented on #143
Hello @VinulaUthsara!

I am so excited you want to contribute to our Knowledge Base 🎉 . I see you want to claim 2 more articles - Business model canvas & Continuos delivery. I am therefore assigning you to all 3 articles 🙂

Looking forward to your articles! ❤️
If you need help with anything, don't hesitate to get in touch - I am happy to help 🙂

[2020-10-19 12:04] VinulaUthsara commented on #143
@DominikMilaniak Thank you very much, will get to it.

[2020-10-19 14:28] K-Kumar-01 commented on #261
Hello @zeman-j4  can i have a go at this issue?

[2020-10-19 14:49] DominikMilaniak commented on #261
Hi @shashwat28nov and @K-Kumar-01!

First of all, I would like to apologize to you, @shashwat28nov. Your message completely flew under my radar and I apologize for answering this late 😞 If you still want to work on this article, I will assign it to you right away. If not, I will gladly assign this article to you @K-Kumar-01 🙂

Have a wonderful day,
Dominic

[2020-10-20 18:23] schezfaz commented on #118
Hey @DominikMilaniak, is the article alright?

[2020-10-21 08:25] ridlees commented on #156
Hello @Ruchika30, I am deeply sorry for the delay. Unfortunately, there is already a PR that closes this issue. You could help with the text review if you have an interest in this topic. Alternatively, look at the other issues (https://github.com/DXHeroes/knowledge-base-content/issues)

[2020-10-21 12:41] ridlees opened #311 "New article: JTBD"
# Title: [Article]
- [x] What is this about: JTBD

- [ ] Read more here: JTBD
- [x] Pick the corresponding labels:
    - Stage:research

## How to contribute:
- Follow our [Contribution guide](https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBUTING.md)
- How to [Git and Pull Requests]( https://github.com/firstcontributions/first-contributions/blob/master/README.md)
- How to [Ma

[2020-10-21 13:59] pamichalik opened #312 "New article: lean production"
# Title: [Article] lean production

- [ ] What is this about: “What is this practice about”? Which existing (or new) problems does this practice solve?
One of the production methods focused on the definition of specific value by specific products.

- [ ] Read more here: The starting point for your research (You can use different sources if you have better ones)
https://en.wikipedia.org/wiki/Lean_m

[2020-10-21 20:36] VinulaUthsara commented on #143
Hi,

May I please know the method I can use to run this repository locally (or
any other way) to preview changes before creating a Pull Request?

Thankyou in advance,
Vinula Uthsara.

On Mon, Oct 19, 2020 at 4:07 PM Dominik Milaniak <notifications@github.com>
wrote:

[2020-10-22 09:54] Benjioe opened #313 "translate articles in other languages"
Is it possible to contribute by translating an existing article in another language (french...) ?

If yes, where can we put that translation ?

[2020-10-22 10:13] prokopsimek commented on #313
@Benjioe Hi, thank you for your proposal but we have a [developerexperience.io](https://developerexperience.io) only in English and we don't plan to have other mutations.

Thanks 🙂

[2020-10-22 10:13] #313 closed

[2020-10-22 13:24] K-Kumar-01 commented on #261
@DominikMilaniak
As there is no reply from @shashwat28nov, can i have the issue?

[2020-10-22 13:50] DominikMilaniak commented on #261
Hi again @K-Kumar-01.

Yes, I see. All right - I am assigning this article to you 🙂 Have fun!

[2020-10-22 13:51] schezfaz commented on #118
Hey @ridlees, please let me know what you think!

[2020-10-22 14:15] VinulaUthsara commented on #143
Hi @DominikMilaniak, please be kind enough to review this PR.

[2020-10-23 05:30] #184 closed

[2020-10-23 05:34] #119 closed

[2020-10-23 19:14] K-Kumar-01 commented on #261
@DominikMilaniak
I made a PR for the article. Please let me know if any fixes are required.

[2020-10-24 17:00] K-Kumar-01 commented on #261
@DominikMilaniak
Any updates on my PR?

[2020-10-25 13:33] hacky1997 commented on #260
@DominikMilaniak Sorry I totally forgot about this PR. I will make a pull request today at night

[2020-10-26 07:09] K-Kumar-01 commented on #261
@DominikMilaniak
Any updates on [this](https://github.com/DXHeroes/knowledge-base-content/pull/316)

[2020-10-27 05:55] prokopsimek opened #317 "New article: Respectful Code Reviews"
# Title: Respectful Code Reviews

- [ ] What is this about: “What is this practice about”? Which existing (or new) problems does this practice solve?
A guide for respectful code reviews.

- [ ] Read more here: The starting point for your research (You can use different sources if you have better ones)
- https://chromium.googlesource.com/chromium/src/+/master/docs/cr_respect.md

- [ ] Pick the corr

[2020-10-27 05:57] prokopsimek opened #318 "New article: YAGNI principle"
# Title: YAGNI principle

- [ ] What is this about: “What is this practice about”? Which existing (or new) problems does this practice solve?
Don’t codify more than you’ve been asked to. Don’t anticipate the future, and just create something that works as soon as possible. Code only the necessary parts to solve the current problem.

- [ ] Read more here: The starting point for your research (You c

[2020-10-27 05:57] prokopsimek opened #319 "New article: SOLID principle"
# Title: SOLID principle

- [ ] What is this about: “What is this practice about”? Which existing (or new) problems does this practice solve?
You don’t need to know everything, nor all the existing frameworks. The most significant thing is to have a good base. Know the language in depth before starting with a Framework and learn fundamental things like the SOLID principles or how to write clean co

[2020-10-27 05:58] prokopsimek opened #320 "New article: KISS principle"
# Title: KISS principle

- [x] What is this about: “What is this practice about”? Which existing (or new) problems does this practice solve?
“Keep it simple, stupid” or “keep it stupid simple” is a design principle that states that most systems work best if they are kept simple rather than made complicated. And while this is logical, it is sometimes difficult to achieve.

- [x] Read more here: The

[2020-10-27 05:59] prokopsimek opened #321 "New article: Test-driven development"
# Title: Test-driven development

- [ ] What is this about: “What is this practice about”? Which existing (or new) problems does this practice solve?
Test-driven development (TDD) is a software development process that relies on the repetition of a very short development cycle: requirements are turned into very specific test cases, then the code is improved so that the tests pass. This is opposed

[2020-10-27 06:00] prokopsimek opened #322 "New article: Refactoring"
# Title: Refactoring

- [ ] What is this about: “What is this practice about”? Which existing (or new) problems does this practice solve?
Refactoring is a disciplined technique for restructuring an existing body of code, altering its internal structure without changing its external behavior.

- [ ] Read more here: The starting point for your research (You can use different sources if you have bett

[2020-10-27 06:01] prokopsimek opened #323 "New article: Software Design Pattern"
# Title: Software Design Pattern

- [ ] What is this about: “What is this practice about”? Which existing (or new) problems does this practice solve?
In software engineering, a software design pattern is a general, reusable solution to a commonly occurring problem within a given context in software design.

- [ ] Read more here: The starting point for your research (You can use different sources i

[2020-11-03 13:29] #311 closed

[2020-11-03 13:30] #156 closed

[2020-11-03 13:30] #149 closed

[2020-11-05 05:54] #150 closed

[2020-11-06 13:19] #118 closed

[2020-11-24 11:26] tealeg opened #329 "Add link to Developer Care article."
Last year I wrote an article for Heetch about the Developer Care function (essentially DX with a Heetch specific name). I think it's a useful resource that people might be interested in reading, in particular, it talks about:

- The mission of the developer care team (including a manifesto)
- The character of DX engineers
- How to measure the performance of a DX team

[2020-12-07 22:04] #329 closed

[2020-12-08 14:50] #130 closed

[2020-12-08 16:09] #261 closed

[2020-12-09 21:06] #141 closed

[2020-12-09 21:13] ridlees opened #335 "Update article: Portability"
- [ ] The article is missing links to other practices/problems
- [ ] The article doesn't follow the usual style
- [ ] The article is missing an image

[2020-12-09 21:44] #143 closed

[2020-12-14 11:16] #102 closed

[2020-12-14 11:23] #155 closed

[2020-12-14 11:26] ridlees opened #337 "Update article: Commit naming Rules"
# Title: [Article] %Practice name

- [ ] Link to practice: ""

Fix the paragraph

[2020-12-16 14:21] ridlees opened #338 "Add Templates for articles"
- [x] Add Practice Template
- [x] Add Problem Template
- [x] Add Info about Templates into CONTRIBUTING GUIDE

[2020-12-18 14:18] #293 closed

[2020-12-18 14:27] ridlees opened #342 "Update article: Finger pointing and blaming"
- [x] Adding part about Reasons for Finger-Pointing And Blaming
- [x] Add Image with the corresponding syntax
- [x] Watching someone pawn their failures off or blame others for their mistakes is contagious and detrimental, particularly in the workplace. It may seem inconsequential but in an organization where blame is the norm, people are likely to be less creative, perform poorly, and mirror dama

[2020-12-18 14:31] ridlees opened #343 "Update article: unsuccessful_product"
- [x] How to get out of unsuccessful product

[2020-12-19 18:14] ridlees opened #344 "Update article: Add Practice Article on Software Development Kit (SDK) #309"
- [x] explain why developers might want to create SDK
- [x] the difference between API and SDK
- [x] test plagiarism

[2020-12-19 18:15] #308 closed

[2020-12-19 18:20] ridlees opened #345 "Update article: Create risk_analysis.md #304"
- [x] Risk analysis is the process of identifying and analyzing potential issues that could negatively impact key business initiatives or projects. This process is done in order to help organizations avoid or mitigate those risks. from https://searchsecurity.techtarget.com/definition/risk-analysis (rewrite)
- [x] Risk analysis is the process of analyzing, determining, and defining the risk of dang

[2020-12-19 18:20] #146 closed

[2020-12-22 09:22] #260 closed

[2020-12-22 09:24] #338 closed

[2020-12-22 09:24] #337 closed

[2020-12-22 09:25] #335 closed

[2020-12-22 09:27] #343 closed

[2021-01-04 05:21] #342 closed

[2021-01-04 05:21] #344 closed

[2021-01-04 05:21] #345 closed

[2021-01-12 15:54] ShvetaVasisht commented on #317
hi,
Please let me know if i can work on this issue.
Thanks
Shveta

[2021-01-12 16:55] prokopsimek commented on #317
@ShvetaVasisht Hi, of course you can! Thanks!

[2021-01-23 19:04] #111 closed

[2021-01-23 19:07] ridlees opened #355 "New article: What is Tech Writing?"

[2021-01-23 19:08] ridlees opened #356 "Update article: Merging Software documentation and Documentation"
Merging new article into the existing one.

[2021-02-01 05:45] prokopsimek commented on #317
Done ✅

[2021-02-01 05:45] #317 closed

[2021-02-25 17:22] ShvetaVasisht commented on #318
Hi,
Can I work on this issue?
Thanks
Shveta

[2021-02-25 19:03] prokopsimek commented on #318
@ShvetaVasisht Hi! You're welcome! Please, beware of plagiarism. :) Thanks!

[2021-02-25 20:39] ShvetaVasisht commented on #318
Sure :-).
Just 2 quick questions
1) What is covered_by_dx_scanner: in the template_practice.md
2) I can see some broken Markdown(2 headings) in https://developerexperience.io/practices/respectful-code-review.Should I fix them along with this?
Thanks

[2021-02-25 20:42] prokopsimek commented on #318
@ShvetaVasisht Thank you for your questions.

1. the `covered_by_dx_scanner ` is an indicator if the [DX Scanner](https://github.com/DXHeroes/dx-scanner) tool can measure this practice. The value for YAGNI is should be `false` 👍
2. It would be great! Thank you 👏

[2021-02-27 07:29] ShvetaVasisht commented on #318
Created pull request for the issue. Please see.
thanks

[2021-03-03 09:39] #318 closed

[2021-04-13 07:29] ridlees opened #359 "New article: What is Rest API"
# Title: [Article] What is Rest API

- [X ] What is this about: What is a good API and how should I create one? Which API practices are important so my API will have good DX?

- [x ] Read more here: The starting point for your research (You can use different sources if you have better ones) [https://apifriends.com/api-management/what-is-an-api/](https://apifriends.com/api-management/what-is-an-api

[2021-04-14 10:48] ridlees commented on #359
@HochiBar yeah, take the article

[2021-04-14 10:48] HochiBar commented on #359
thanks

[2021-04-14 12:43] #320 closed

[2021-04-14 12:43] #170 closed

[2021-04-23 12:17] #356 closed

[2021-04-23 12:18] #321 closed

[2021-05-31 19:03] #319 closed

[2021-05-31 19:26] #355 closed

[2021-06-19 18:43] fanatiicx commented on #154
Hello, I would like to try working on this. I have read the contributing guideline and will refer to the example article for the structure :)

[2021-06-19 19:51] prokopsimek commented on #154
@fanatiicx Hi! You're awesome! 👏👍

[2021-08-03 05:38] #154 closed

[2021-08-04 09:01] #120 closed

[2021-08-05 19:29] fanatiicx commented on #116
Hello, I'd like to try working on this article if it is available.

[2021-08-06 11:34] prokopsimek commented on #116
@fanatiicx Hi! I'm sorry, this article is already written (https://developerexperience.io/practices/smart-goals).

If you want, there is no article for "Mission" or "Vision", we can split these two topics into 2 articles for splitting the context. What do you think about it? I can create 2 new issues for that.

[2021-08-06 16:49] fanatiicx commented on #116
@prokopsimek Sounds great! I'd be happy to work on those within the context of DX :)

[2021-08-06 19:15] prokopsimek commented on #116
Just do it! 🙌 One arrticle abou “Misio”, one article for motivating developers and IT teams in companies with mission of the project or company and the second article about “Vision” of a product/company and how it influence motivation and teams.

I will close this issue on Monday and create 2 new for that.

Thank you a lot! Can I help you somehow with some resources or articles about it or would y

[2021-08-07 15:24] fanatiicx commented on #116
@prokopsimek Thanks for the extra details—I should be able to get started but will reach out if I need additional resources :)

[2021-08-09 05:23] prokopsimek commented on #116
@fanatiicx Issue renamed. Let me know if you need any help or resources. Thank you 👏

[2021-08-09 05:27] prokopsimek opened #374 "New article: Vision (company or team or product vision)"
# Title: Vision

- [x] What is this about: “What is this practice about”? Which existing (or new) problems does this practice solve?

It's about motivating people, product development, and development itself by a company/product/team vision. What's vision and how it drives motivation or team to better alignment with a purpose.

- [x] Read more here: The starting point for your research (You can us

[2021-08-09 05:28] prokopsimek commented on #116
Related to #374

[2021-08-09 15:45] fanatiicx commented on #374
@prokopsimek Thanks for the resources, will work on this and the mission article soon!

[2021-08-17 07:29] #374 closed

[2021-10-03 17:41] schezfaz commented on #322
Hi hii! I would love to work on this issue. May I take it forward? #hacktoberfest2021

[2021-10-04 05:21] prokopsimek commented on #322
@schezfaz HI! Go for it! You're welcome. Please, follow our [Contribution guide](https://github.com/DXHeroes/knowledge-base-content/blob/master/CONTRIBUTING.md). Thanks!

[2021-11-17 06:46] nsduff commented on #359
Comment comment comment

[2021-11-17 09:51] prokopsimek commented on #102
Hi there, @yogesh-hackx! I am just informing you that we have released a **new feature** to the [DX Knowledge base](https://developerexperience.io), **the author box**.

You are the author of at least one article in the knowledge base, so I am writing to you about it and offering you the opportunity to **add your bio and links under the article**.

![image](https://user-images.githubusercontent.co

[2021-11-17 09:51] prokopsimek commented on #261
Hi there, @K-Kumar-01! I am just informing you that we have released a **new feature** to the [DX Knowledge base](https://developerexperience.io), **the author box**.

You are the author of at least one article in the knowledge base, so I am writing to you about it and offering you the opportunity to **add your bio and links under the article**.

![image](https://user-images.githubusercontent.com/

[2021-11-17 09:52] prokopsimek commented on #308
Hi there, @sudiptog81 ! I am just informing you that we have released a **new feature** to the [DX Knowledge base](https://developerexperience.io), **the author box**.

You are the author of at least one article in the knowledge base, so I am writing to you about it and offering you the opportunity to **add your bio and links under the article**.

![image](https://user-images.githubusercontent.com

[2021-11-17 09:52] prokopsimek commented on #154
Hi there, @fanatiicx! I am just informing you that we have released a **new feature** to the [DX Knowledge base](https://developerexperience.io), **the author box**.

You are the author of at least one article in the knowledge base, so I am writing to you about it and offering you the opportunity to **add your bio and links under the article**.

![image](https://user-images.githubusercontent.com/5

[2021-11-17 09:53] prokopsimek commented on #146
Hi there, @ng29! I am just informing you that we have released a **new feature** to the [DX Knowledge base](https://developerexperience.io), **the author box**.

You are the author of at least one article in the knowledge base, so I am writing to you about it and offering you the opportunity to **add your bio and links under the article**.

![image](https://user-images.githubusercontent.com/548721

[2021-11-17 09:53] prokopsimek commented on #111
Hi there, @wilsantow! I am just informing you that we have released a **new feature** to the [DX Knowledge base](https://developerexperience.io), **the author box**.

You are the author of at least one article in the knowledge base, so I am writing to you about it and offering you the opportunity to **add your bio and links under the article**.

![image](https://user-images.githubusercontent.com/5

[2021-11-17 09:54] prokopsimek commented on #119
Hi there, @liliancavalet! I am just informing you that we have released a **new feature** to the [DX Knowledge base](https://developerexperience.io), **the author box**.

You are the author of at least one article in the knowledge base, so I am writing to you about it and offering you the opportunity to **add your bio and links under the article**.

![image](https://user-images.githubusercontent.c

[2021-11-17 09:54] prokopsimek commented on #143
Hi there, @VinulaUthsara! I am just informing you that we have released a **new feature** to the [DX Knowledge base](https://developerexperience.io), **the author box**.

You are the author of at least one article in the knowledge base, so I am writing to you about it and offering you the opportunity to **add your bio and links under the article**.

![image](https://user-images.githubusercontent.c

[2021-11-17 09:54] prokopsimek commented on #150
Hi there, @mohitshende! I am just informing you that we have released a **new feature** to the [DX Knowledge base](https://developerexperience.io), **the author box**.

You are the author of at least one article in the knowledge base, so I am writing to you about it and offering you the opportunity to **add your bio and links under the article**.

![image](https://user-images.githubusercontent.com

[2021-11-17 09:55] prokopsimek commented on #118
Hi there, @schezfaz! I am just informing you that we have released a **new feature** to the [DX Knowledge base](https://developerexperience.io), **the author box**.

You are the author of at least one article in the knowledge base, so I am writing to you about it and offering you the opportunity to **add your bio and links under the article**.

![image](https://user-images.githubusercontent.com/54

[2021-11-17 09:55] prokopsimek commented on #145
Hi there, @ShyamPraveenSingh! I am just informing you that we have released a **new feature** to the [DX Knowledge base](https://developerexperience.io), **the author box**.

You are the author of at least one article in the knowledge base, so I am writing to you about it and offering you the opportunity to **add your bio and links under the article**.

![image](https://user-images.githubuserconte

[2021-11-17 09:56] prokopsimek commented on #184
Hi there, @ramesht007! I am just informing you that we have released a **new feature** to the [DX Knowledge base](https://developerexperience.io), **the author box**.

You are the author of at least one article in the knowledge base, so I am writing to you about it and offering you the opportunity to **add your bio and links under the article**.

![image](https://user-images.githubusercontent.com/

[2021-11-17 09:57] prokopsimek commented on #318
Hi there, @ShvetaVasisht! I am just informing you that we have released a **new feature** to the [DX Knowledge base](https://developerexperience.io), **the author box**.

You are the author of at least one article in the knowledge base, so I am writing to you about it and offering you the opportunity to **add your bio and links under the article**.

![image](https://user-images.githubusercontent.c

[2021-11-21 14:09] wilsantow opened #380 "Broken Image Link in documentation.md"
## Expected Behavior
Image under the subheading "What is Documentation" in the page [Documentation](https://developerexperience.io/practices/documentation) must be visible.

## Current Behavior
Image is not visible since the link is broken.
## Possible Solution
1. Changing the relative path of the image from */files/documentation* to */files/documentation.png* fixes the issue.
2. Additionally the

[2021-11-21 14:15] wilsantow commented on #380
Hi @prokopsimek , I authored this particular article in #288 and had missed this one. Let me know if I can make the changes and open a PR.

[2021-11-21 16:52] prokopsimek commented on #380
@wilsantow You're welcome! 😉

[2021-12-22 07:10] nsduff commented on #359
Good morning, Prokop,

During the past week, I have been working on that article for the dev ops knowledge base. After reading and thinking for a long time, I realized that I am not the right person for this writing position. I thought that I could do it, but I was wrong. You have my sincerest apologies.

Still, thank you for this opportunity. I wish you the best of luck with further expanding the

[2021-12-28 08:01] #113 closed

[2021-12-28 09:15] #112 closed

[2022-01-09 08:06] #380 closed

[2022-05-16 02:31] SeaghdhVittMacCailein commented on #91
Hey,

I have written an article on the topic and submitted a pull request.

Thank you!

[2022-05-19 14:53] #91 closed

[2022-10-02 11:53] JayaSree100 commented on #359
Hi, could you tell me if you are currently accepting any PRs as a part of HacktoberFest for 2022?

[2022-10-03 10:31] VinulaUthsara commented on #85
Hi Team, Id like to take this article up. Could you please let me know if this can be counted as a Hacktoberfest 2022 contribution?

[2022-10-03 10:37] prokopsimek commented on #85
@VinulaUthsara Hi, yes it counts as a Hacktoberefrest 2022 contribution if you fulfil the contribution guidelines.

[2022-10-03 10:38] prokopsimek commented on #359
@JayaSree100 Hi, yes it counts as a Hacktoberefrest 2022 contribution if you fulfil the contribution guidelines.

[2022-10-03 10:46] JayaSree100 commented on #359
Cool thanks for the confirmation.

[2022-10-03 10:55] VinulaUthsara commented on #85
@prokopsimek thanks for your response. I will work on this. Please assign it to me.

[2022-10-03 11:09] VinulaUthsara commented on #98
Hi @prokopsimek, please assign this to me.

[2022-10-03 11:22] VinulaUthsara commented on #292
Hi @prokopsimek. I like to take this up. Please assign it to me.

[2022-10-03 11:24] awesomesajee commented on #323
Hi
I like to take this up. Please assign it to me

[2022-10-03 11:26] prokopsimek commented on #292
@VinulaUthsara Hi Vinula, please finish your last 2 articles before you start taking more. Thank you

[2022-10-03 11:26] prokopsimek commented on #323
@awesomesajee It's yours 🙌

[2022-10-09 13:46] Bennykillua commented on #312
@prokopsimek  @pamichalik  Can someone take this?